h3 Blog Details

form.form-horizontal(name="form", ng-submit="submit()", novalidate)
  .control-group(ng-class="errorClass('firstname')")
    label.control-label(for="firstname") First Name
    .controls
      input(ng-model="Blog.firstname", type="text", name="firstname", placeholder="First Name", require, autofocus)

  .control-group(ng-class="errorClass('lastname')")
    label.control-label(for="lastname") Last Name
    .controls
      input(ng-model="Blog.lastname", type="text", name="lastname", placeholder="Last Name", require)

  .control-group(ng-class="errorClass('age')")
    label.control-label(for="age") Age
    .controls
      input(ng-model="Blog.age", type="text", name="age", placeholder="Age", require)

      .control-group(ng-class="errorClass('post')")
    label.control-label(for="post") Post
    .controls
      input(ng-model="Blog.post", type="text", name="post", placeholder="Post", require)

  .control-group
    .controls
      a.btn(ng-click="cancel()") Cancel
      button.btn.btn-success(type="submit") Save
      button.btn.btn-danger(ng-click="deletePost()") Delete

a(href="/Blog/{{Blog.id}}") Back

text-angular(ng-model="htmlVariable")