h3 Blogs

form.navbar-form.navbar-left(role='search')
    .form-group
        input.form-control(type='text', placeholder='Search')button.btn.btn-default(type='submit') Submit

table.table.table-striped
  thead
    td Username
    td Title
    td Post
    td Tag
    td Actions
  tbody
    tr(ng-repeat="Blog in Blog")
      td {{Blog.username}}
      td {{Blog.title}}
      td(ng-bind-html="Blog.post")
      td {{Blog.tag}}
      td
        a(href="/Blog/{{Blog._id}}") Show
         |
        a(href="/Blog/{{Blog._id}}/edit") Edit

button.btn.btn-success(ng-click="new()") New blogpost
