h3 Blogs

table.table.table-striped
  thead
    td Id
    td First Name
    td Last Name
    td Age
    td Actions
  tbody
    tr(ng-repeat="Blog in Blog")
      td {{Blog._id}}
      td {{Blog.firstname}}
      td {{Blog.lastname}}
      td {{Blog.age}}
      td
        a(href="/Blog/{{Blog._id}}") Show
         |
        a(href="/Blog/{{Blog._id}}/edit") Edit

button.btn.btn-success(ng-click="new()") New blogpost
