h3  These are the posts made by our users. 
  div
      h5  Username 
      | {{Blog.username}}
      h5 Title
      | {{Blog.title}}
      h5
        | Post
        h5
          | {{Blog.post}}
          h5  Tags
          | {{Blog.tag}}
    div
      a(href='/Blog')  Back
