h3 These are the posts made by our users.

ul.list-group.col-lg-9
    li.list-group-item(ng-repeat="Blog in Blog")
       {{Blog.username}}
       {{Blog.title}}
       {{Blog.post}}
       {{Blog.tag}}