h3 These are the posts made by our users.

p if you want to create your own posts you can register a user 
a(href="/Register") Here
p or you can login 
a(href="/Login") Here

ul.list-group.col-lg-9
  div.jumbotron
    li.list-group-item(ng-repeat="Blog in Blog")
      h5 Posted by: {{Blog.username}}
      h5 {{Blog.title}} 
      div(ng-bind-html="Blog.post")
      h5 Tags:
      {{Blog.tag}}