h3 Blog Details

div
  h5 First Name
  {{Blog.firstname}}

  h5 Last Name
  {{Blog.lastname}}

  h5 Age
  {{Blog.age}}

  h5 Post
  {{Blog.post}}

hr

div
  a(href="/Blog") Back
  |
  a(href="/Blog/{{Blog._id}}/edit") Edit