h3 Blog Details

div
  h5 Username
  {{Blog.username}}

  h5 Title
  {{Blog.title}}

  h5 Post
  {{Blog.post}}

  h5 Tag
  {{Blog.tag}}

hr

div
  a(href="/Blog") Back
  |
  a(href="/Blog/{{Blog._id}}/edit") Edit