
<h1>Login</h1>
<p>{{message}}</p>

<form name="loginForm" novalidate>

  <label>Username</label><input type="text" name="username" ng-model="user.username" required> <span ng-show="loginForm.username.$dirty && loginForm.username.$invalid">Please enter your username</span>
  <br>

  <label>Password</label><input type="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="5"> <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">Your password must be 5 characters</span>
  <br>

  <button ng-click="loginForm.$valid && sendForm()">Login</button>

</form>